requests~=2.32.3
fastapi~=0.111.1
uvicorn~=0.30.3
psycopg2-binary~=2.9.9
sqlalchemy~=2.0.31
alembic~=1.13.2
python-dotenv~=1.0.1
pydantic~=2.8.2
keras~=3.4.1
cachetools~=5.4.0
pyjwt~=2.8.0
passlib~=1.7.4
python-jose~=3.3.0
cryptography~=43.0.0
asyncpg~=0.29.0
plotly~=5.23.0
jose~=1.0.0
beautifulsoup4~=4.12.3
pillow~=10.4.0
Faker~=26.1.0
asyncio~=3.4.3
pycryptodome~=3.20.0
firebase-admin~=6.5.0
